@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', sans-serif;
}
.card {
  border: 3px solid black;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.image1 {
  width: 403px;
}
.main h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.content p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
